<!DOCTYPE htm>
<html>
    <head>
        <title><%= title%> </title>
    </head>
    <body>
        <img src="img/logo3.png" alt="Logo">
        <h1><%= title %></h1>
        <h2>Oh MY!</h2>
    </body>
</html>